<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
  <servlet-name>AddressRead</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.AddressServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AddressRead</servlet-name>
  <url-pattern>/address/read</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>AddressCreate</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.AddressServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AddressCreate</servlet-name>
  <url-pattern>/address/create</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>AddressUpdate</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.AddressServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AddressUpdate</servlet-name>
  <url-pattern>/address/update</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>AddressDelete</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.AddressServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AddressDelete</servlet-name>
  <url-pattern>/address/delete</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>personRead</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.PersonServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>personRead</servlet-name>
  <url-pattern>/person/read</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>personReadAll</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.PersonServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>personReadAll</servlet-name>
  <url-pattern>/person/readAll</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>personCreate</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.PersonServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>personCreate</servlet-name>
  <url-pattern>/person/create</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>personUpdate</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.PersonServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>personUpdate</servlet-name>
  <url-pattern>/person/update</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>personDelete</servlet-name>
  <servlet-class>com.ofs.training.java.servlets.PersonServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>personDelete</servlet-name>
  <url-pattern>/person/delete</url-pattern>
</servlet-mapping>
</web-app>

